{% extends "base.html" %}

{% block branding %}
	Courses
{% endblock %}

{% block content %}
	<div id="top-bar"></div>
	<div id="container">
		<div id="container-title">Grades</div>
		<div id="container-content">
			<table>
				<tr>
					<th style="text-align:center;">Subject</th>
					<th>Exercises</th>
					<th>Laboratory</th>
					<th>Project</th>
					<th>Seminar</th>
					<th>Exam</th>
					<th>Final grade</th>
					<th>ECTS</th>
				</tr>
			
				{% for course in gradeList %}
					<tr>
						<td>
							{{course.Name}}
						</td>
						<td>
							{{course.exercises}}
						</td>
						<td>
							{{course.laboratories}}
						</td>
						<td>
							{{course.project}}
						</td>
						<td>
							{{course.seminars}}
						</td>
						<td>
							{{course.exam}}
						</td>
						<td>
							{{course.final_grade}}
						</td>
						<td>
							{{course.ECTS}}
						</td>
							
					</tr>
				{% endfor %}
					<tr>
						<td>
							Average
						</td>
						<td>
							{{ average }}
						</td>
					</tr>
				
				
			</table>
		</div>
	</div>
{% endblock %}