{% extends "base.html" %}

{% block branding %}
	Courses
{% endblock %}



{% block content %}
	<div id="top-bar"></div>
	<div id="container">
		<div id="container-title">List of courses</div>
		<div id="container-content">
			<table>
				<tr>
					<th>Course name</th>
					<th>Actions</th>
				</tr>
				{% if role == 1 %}
					{% for course in all_courses %}
						<tr>
							<td>
								<a href="{% url 'course-details' id=course.pk %}">{{course}}</a>
							</td>
							<td>
								<input type="button" value="Sign in">
							</td>	
						</tr>
					{% endfor %}
				{% elif role == 2 or role == 3 %}
					{% for course in all_courses %}
						<tr>
							<td>
								<a href="{% url 'course-details' id=course.pk %}">{{course}}</a>
							</td>
							<td>
								<input type="button" value="Sign in">
								<input type="button" value="Manage">
								<input type="button" value="Edit" onclick="location.href='{% url 'edit-course' id=course.pk %}'"></input>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</table>
		</div>
	</div>
{% endblock %}