{% extends "base.html" %}

{% block branding %}
	Courses
{% endblock %}



{% block content %}
	<div id="top-bar"></div>
	<div id="container">
		<div id="container-title">List of courses</div>
		<div id="container-content">
			<table>
				<tr>
					<th>Course name</th>
					<th>Actions</th>
				</tr>
				{% for course in all_courses %}
					<tr>
							<td>
									<a href="{% url 'course-details' id=course.pk %}">{{course}}</a>
							</td>
							<td>
								{% if role == 1 or role == 2 %}
									{% if course in user_courses %}
										<input type="button" value="Sign out" onclick="location.href='{% url 'course-signout' id=course.pk %}'">
									{% else %}
										<input type="button" value="Sign in" onclick="location.href='{% url 'course-signup' id=course.pk %}'"/>
									{% endif %}
								{% endif %}
					{% if role == 1 %}
				
					{% elif role == 2 or role == 3 %}
							
								<input type="button" value="Manage">
								<input type="button" value="Edit" onclick="location.href='{% url 'edit-course' id=course.pk %}'"></input>
							</td>
					{% endif %}
					</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}