{% extends "base.html" %}

{% block branding %}
	Manage course
{% endblock %}

{% block content %}
	<div id="top-bar"></div>
	<div id="container">
		<div id="container-title">{{ course.name }}</div>
		<div id="container-content">
			<form method="post">
				{% csrf_token %}
				{{ formset.management_form }}
				<table style="width: 80%; border: 1px solid #e5e6e9;margin-left: auto; margin-right: auto;">
					<tr>
						<th style = "border-right: 1px solid #e5e6e9; width: 15%; text-align: center;">Student name</th>
						<th style="border-right: 1px solid #e5e6e9; width: 10%; text-align: center;">Exercises</th>
						<th style="border-right: 1px solid #e5e6e9; width: 10%; text-align: center;">Laboratory</th>
						<th style="border-right: 1px solid #e5e6e9; width: 10%; text-align: center;">Project</th>
						<th style="border-right: 1px solid #e5e6e9; width: 10%; text-align: center;">Seminar</th>
						<th style="border-right: 1px solid #e5e6e9; width: 10%; text-align: center;">Exam</th>
						<th style = "width: 15%; text-align: center;">Final grade</th>
					</tr>
					{% for form in formset %}
						<tr>
							<td style="border-right: 1px solid #e5e6e9;">
								John Smith 
							</td>
							{% if course.exercises != 0 %}
								<td style="border-right: 1px solid #e5e6e9;">
									{{form.exercises}}
								</td>
							{% else %}
								<td style="border-right: 1px solid #e5e6e9;">
									---------
								</td>
							{% endif %}
								
							{% if course.laboratories != 0 %}
								<td style="border-right: 1px solid #e5e6e9;">
									{{form.laboratory}}
								</td>
							{% else %}
								<td style="border-right: 1px solid #e5e6e9;">
									---------
								</td>
							{% endif %}
								
							{% if course.project != 0 %}
								<td style="border-right: 1px solid #e5e6e9;">
									{{form.project}}
								</td>
							{% else %}
								<td style="border-right: 1px solid #e5e6e9;">
									---------
								</td>
							{% endif %}
								
							{% if course.seminars != 0 %}
								<td style="border-right: 1px solid #e5e6e9;">
									{{form.seminar}}
								</td>
							{% else %}
								<td style="border-right: 1px solid #e5e6e9;">
									---------
								</td>
							{% endif %}
								
							{% if course.exam != 0 %}
								<td style="border-right: 1px solid #e5e6e9;">
									{{form.exam}}
								</td>
							{% else %}
								<td style="border-right: 1px solid #e5e6e9;">
									---------
								</td>
							{% endif %}
								
							<td style="border-right: 1px solid #e5e6e9;">
								{{form.final_grade}}
							</td>
						</tr>
					{% endfor %}
				</table>
				<button type="submit">Save</button>
			</form>
		</div>
	</div>
{% endblock %}