{% extends "base.html" %}

{% block branding %}
	Courses
{% endblock %}

{% block content %}
	<div id="top-bar"></div>
	<div id="container">
		<div id="container-title">List of courses</div>
		<div id="container-content">
            {% if role == 3 %}
                <input type="button" value="Create course" onclick="location.href='{% url 'create-course' %}'"></input>
            {% endif %}
			<table style="width: 80%;">
				<tr>
					<th>Course name</th>
					<th>Actions</th>
				</tr>
				{% for user_course in user_courses %}
					<tr>
						<td>
							<a href="{% url 'course-details' id=user_course.course.course_id %}">
								{{user_course.course}}
							</a>
							{% if user_course.accepted == 0 %}
								(Not approved)
							{% endif %}
						</td>
						<td>
							{% if user_course.accepted == 0 %}
								<input type="button" value="Sign out" onclick="location.href='{% url 'course-signout' id=user_course.course.pk %}'"></input>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				
				{% for course in rest_courses %}
					<tr>
						<td>
							<a href="{% url 'course-details' id=course.pk %}">{{course}}</a>
						</td>
						<td>
							<input type="button" value="Sign in" onclick="location.href='{% url 'course-signup' id=course.pk %}'"/></input>
							{% if role == 2 or role == 3 %}
								<input type="button" value="Manage" onclick="location.href='{% url 'course-manage' id=course.pk %}'"></input>
								<input type="button" value="Edit" onclick="location.href='{% url 'edit-course' id=course.pk %}'"></input>
							{% endif %}
							{% if role == 3 %}
								<input type="button" value="Approvals" onclick="location.href='{% url 'course-approvals' id=course.pk %}'"></input>
							{% endif %}
							

						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}