<!DOCTYPE html>
<html>
	<head>
		<title>Courses</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
	</head>

	<body>
		<div id="top-bar">
		</div>
		<div id="container">
			<div id="container-title">List of courses</div>
			<div id="container-content">
				<table>
					<tr>
						<th>Course name</th>
						<th>Actions</th>
					</tr>
					{% if role == 1 %}
						{% for course in all_courses %}
							<tr>
								<td>{{course}}</td>
								<td>
									<input type="button" value="Sign in">
								</td>	
							</tr>
						{% endfor %}
					{% elif role == 2 or role == 3 %}
						{% for course in all_courses %}
							<tr>
								<td>{{course}}</td>
								<td>
									<input type="button" value="Sign in">
									<input type="button" value="Manage">
									<input type="button" value="Edit">
								</td>	
							</tr>
						{% endfor %}
					{% endif %}
				</table>
			</div>
		</div>
	</body>

</html>